/* Reset-Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
   display: table;
}

/* general */

body {
    font-family: Helvetica,  Arial, sans-serif;
    background-color: #ffffff;
    line-height: 25px;
}

header { 
    background-color: #3161e0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 685px;
    background-repeat: no-repeat;
}

footer {
    background-color: #23272A;
    color: #ffffff;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.bg-gray {
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* header specifiche */

header nav.container {
    padding: 20px 0;
}
header nav ul {
    min-width: 500px;
}

.inner-hero {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-top: 150px;   
}

h1 {
    font-size: 55px;
    padding-bottom: 30px;
}

/* Button */
.btn{
    display: inline-block;
    background-color: #ffffff;
    color: #23272A;
    font-weight: bold;
    border-radius: 20px;
    padding: 13px 20px;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 20px;
}

.btn:hover {
    box-shadow: 0 10px 10px 0 rgba(33,33,33,.3);
    color: #707BF4; 
  }

.btn2{
    display: inline-block;
    background-color: #23272A;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 13px 20px;
    text-decoration: none;
    margin-left: 15px;
}

.btn2:hover {
    box-shadow: 0 10px 10px 0 rgba(33,33,33,.3);
}


.btn3 {
    display: inline-block;
    background-color: #8ea1e1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 13px 20px;
    text-decoration: none;
    margin-left: 15px;
}

.btn3:hover {
    box-shadow: 0 10px 10px 0 rgba(33,33,33,.3);
}

/* Sezioni */
        /* Sinistra */
.left {
    display: flex;
    justify-content: flex-start;
    margin: 50px auto;
    padding: 0 auto;
}

 /* Destra */
 .right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 50px auto;
    padding: 0 auto;
}

.center{
    display: block;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    
}

/* Generico Sezioni */
section h2 {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 50px;
    font-weight: 750;
}

.testo {
    padding: 50px 100px
}

.sized{
    padding-left: 160px;
    padding-right: 160px;
}
/* Modifica img centrata */
img.centro {
    width: 1100px;
}

.stars img{
    margin-bottom: -15px;
    width: 65%;
}

h3 {
    padding-bottom: 50px;
    font-size: 40px;
}
/* Wave */
.wave1{
    color: #f6f6f6;
    margin-bottom: -70px;
}

.wave2{
    color: #ffffff;
    margin-top: -90px;
}

.wave3{
    color: #F6F6F6;
    margin-bottom: -10px;
}

/* Footer */

li h2 {
    color: #7289DA;
    font-size: 35px;
    padding-bottom: 15px;
}

li h4{
    color: #7289DA;
}
li img{
    width: 20px;
}

.flexfooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    line-height: 35px;
}

.fa-brands{
    padding-right: 10px;
    font-size: 25px;
    padding-top: 15px;
}

hr{
    border-color: #7289DA;
    margin-top: 15px;
}

#logods{
    margin-top: 40px;
}

.register{
    display: block;
    float: right;
    background-color: #8EA1E1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    margin-top: 40px;
}

.register:hover {
    box-shadow: 0 5px 5px 0 rgba(255, 255, 255, 0.3);
}

/* PAGINA LOGIN */
.login-bg{
    background-image: url(../img/sfondo.svg);
    background-color: #5865F2;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 23px;
}

.wrap {
    border: 1px solid #36393F;
    background-color: #36393F;
    border-radius: 10px;
    max-width: 1000px;
    height: 500px;
    margin-top: 300px 
}

.flexwrap {
    display: flex;
    flex-direction: row;
}

.title{    
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 70%;
    align-items:flex-start;
    flex-direction: column;
}

.qrcode{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.wrap img {
    width: 200px;
    height: 200px;
}

#fname {
    background-color: #23272A;
    color: #B9BBBE;
    width: 100%;
    padding: 20px;
    margin-top: -20px;
    border: 0;
}

.asterisco{
    color: red;
}

#link {
    color: #0A98D1;
    text-decoration: none;
    font-weight: bold;
    margin-top: -15px;
}

.btn-accedi{
    color: #ffffff;
    background-color: #5865f2;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}
    
.btn-accedi:hover {
        background-color: #4752C4;
        color: white;
      }

h4{
    color: #ffffff;
    font-size: 30px;
    padding-top: 10px;
}

.wrote {
    color: #B9BBBE;
    padding-top: 10px;
}

.txtcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;

}
