/* Reset-Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{ /*da rimuovere*/
    border: 1px solid black;
    min-height: 100px;
}

/* general */

body {
    font-family: Helvetica,  Arial, sans-serif;
    background-color: #ffffff;
    line-height: 25px;
}

header { 
    /* Ho spostato l'img nell'header perchè mettendola nella sezione dell'hero
    risultava più lunga e quindi non centrava bene la sezione con l'h1 */
    background-color: #3161e0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 685px;
    background-repeat: no-repeat;
}

footer {
    background-color: #23272A;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.bg-gray {
    background-color: #F6F6F6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* header specifiche */

header nav.container {
    padding: 20px 0;
}
header nav ul {
    min-width: 500px;
}

.inner-hero {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-top: 150px;
    
}

h1 {
    font-size: 55px;
    padding-bottom: 30px;
}

p {
    padding-bottom: 30px;
}

/* Button */
.btn{
    display: inline-block;
    background-color: #ffffff;
    color: #23272A;
    font-weight: bold;
    border-radius: 20px;
    padding: 13px 20px;
    text-decoration: none;
    margin-left: 15px;
}

.btn2{
    display: inline-block;
    background-color: #ffffff;
    background-color: #23272A;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    padding: 13px 20px;
    text-decoration: none;
    margin-left: 15px;
}

/* Sezioni */
        /* Sinistra */
.left {
    display: flex;
    justify-content: flex-start;
    margin: 50px auto;
}

section img{
    width: 60%;
}
section h2 {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 50px;
    font-weight: 750;
}

.testo {
    padding: 50px 100px
}

        /* Destra */
.right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 50px auto;
}